/* INIZIO GABBO */

#card-section {
  width: auto;
  height: auto; //100vh
  background-color: $white-3;
  @include flex-column-center;

  .title {
    @include h1("desktop");
    margin: 6rem 0rem 3rem 0rem;
    font-family: "ElectronicArtsDisplay-Bold";
  }

  .cards {
    width: 100%;
    height: 100%;
    @include flex-column-center;

    .first-line {
      @include flex-center-center;

      .card {
        width: 35rem;
        height: 35rem;
        margin: 0rem 1.4rem 1.4rem 1.4rem;
        @include flex-center-center;
      
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
        .filter {
          width: 35rem;
          height: 35rem;
          object-fit: cover;
          position: absolute;
          display: none;
          z-index: 0;
          transition: 0.3s linear;
        }
      
        .cover {
          width: auto;
          height: auto;
          position: absolute;
          object-fit: cover;
          transform: scale(0.3);
        }
      
        .apex {
          transition: 0.3s linear;
        }
      
        .fifa {
          transition: 0.3s linear;
        }
      
        .battle {
          transition: 0.3s linear;
        }
      
        h4 {
          @include h4("desktop");
          display: none;
          position: absolute;
          color: $white-1;
        }
      
        &:hover {
          img {
            z-index: 0;
          }
      
          .filter {
            display: flex;
            background-color: #42378f;
            background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
            z-index: 1;
            opacity: 0.8;
            transition: 0.3s linear;
          }
      
          .cover {
            z-index: 2;
          }
      
          .apex {
            transition: 0.3s linear;
            transform: translateY(-7.8rem) scale(0.3);
          }
      
          .fifa {
            transition: 0.3s linear;
            transform: translateY(-8.8rem) scale(0.3);
          }
      
          .battle {
            transition: 0.3s linear;
            transform: translateY(-7rem) scale(0.3);
          }
      
          h4 {
            z-index: 2;
            display: flex;
            cursor: pointer;
          }
        }
      }
      
    }

    .second-line {
      @include flex-center-center;

      .card {
        width: 35rem;
        height: 35rem;
        margin: 1.4rem 1.4rem 0rem 1.4rem;
        @include flex-center-center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
        }

        .filter {
          width: 35rem;
          height: 35rem;
          object-fit: cover;
          position: absolute;
          display: none;
          z-index: 0;
          transition: 0.3s linear;
        }

        .cover {
          width: auto;
          height: auto;
          @include flex-column-center;
          position: absolute;
          object-fit: cover;
          transform: scale(0.3);
        }

        .sims {
          transform: scale(0.15);
          transition: 0.3s linear;
        }

        .car {
          transform: scale(1);
          transition: 0.3s linear;
        }

        .two {
          transform: scale(0.25);
          transition: 0.3s linear;
        }

        h4 {
          @include h4("desktop");
          display: none;
          position: absolute;
          color: $white-1;
          font-weight: 550;
        }

        &:hover {
          img {
            z-index: 0;
          }

          .filter {
            display: flex;
            background-color: #42378f;
            background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
            z-index: 1;
            opacity: 0.8;
            transition: 0.3s linear;
          }

          .cover {
            z-index: 2;
          }

          .car {
            transform: translateY(-7.8rem);
            transition: 0.3s linear;
          }

          .two {
            transform: translateY(-8.4rem) scale(0.25);
            transition: 0.3s linear;
          }

          .sims {
            transform: translateY(-7.6rem) scale(0.15);
            transition: 0.3s linear;
          }

          h4 {
            z-index: 2;
            display: flex;
          }
        }
      }
    }
  }
}

@include tablet-media-query {
  #card-section {
    @include flex-center-center;

    .title {
      @include h1("tablet");
      font-weight: bold;
    }

    .cards {
      .sub-container {
        @include flex-center-center;

        .first-line {
          @include flex-column-center;

          .card {
            width: 35rem;
            height: 35rem;
            margin: 1.2rem;

            .filter {
              width: 35rem;
              height: 35rem;
            }
          }
        }

        .second-line {
          @include flex-column-center;

          .card {
            width: 35rem;
            height: 35rem;
            margin: 1.2rem;

            .filter {
              width: 35rem;
              height: 35rem;
            }
          }
        }
      }
    }
  }
}

@include smartphone-media-query {
  #card-section {
    @include flex-center-center;

    .title {
      @include h1("smartphone");
      font-weight: bold;
      margin-top: 4rem;
    }

    .cards {
      .sub-container {
        @include flex-column-center;

        .first-line {
          @include flex-column-center;

          .card {
            width: 33.5rem;
            height: 33.5rem;
            margin: 1.2rem;
            margin-bottom: 0.5rem;

            &:first-child {
              margin-top: 0;
            }

            .filter {
              width: 33.5rem;
              height: 33.5rem;
            }
          }
        }

        .second-line {
          @include flex-column-center;

          .card {
            width: 33.5rem;
            height: 33.5rem;
            margin: 1.2rem;
            margin-bottom: 0.5rem;

            .filter {
              width: 33.5rem;
              height: 33.5rem;
            }
          }
        }
      }
    }
  }
}

/* FINE GABBO */
