// INIZIO LUDOVICO - CONTENT

#content-section {
  @include flex-column-center;
  background-color: $white-3;

  br {
    content: "";
    width: 100%;
    border-bottom: 2px solid $grey-3;
    margin-bottom: 3rem;
  }

  .tab-bar-content {
    @include flex-center-center;
    overflow: hidden;
    margin-top: 3rem;

    button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;

      &:hover {
        background-color: #ddd;
      }
    }

    button.active {
      background-color: #ccc;
      border-bottom: 2px solid $primary-color;
    }
  }

  .tabcontent {
    display: none;
    margin: 3rem;
  }

  .title-content {
    @include h1("desktop");
    margin-top: 3rem;
    font-family: "ElectronicArtsDisplay-Bold";
    margin-top: 7rem;
  }

  .card-content-container {
    @include flex-center-center;
    width: 60vw;
    flex-wrap: wrap;
    position: relative;

    .card-content {
      background-color: $white-1;
      @include flex-column-start;
      // width: 35.2rem;
      width: 18.3vw;
      height: 53.8vh;
      margin: 0rem 0.5rem 1.6rem;
      box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
      transition: 0.5s;

      &:hover {
        transform: translate(0, -10px);
        box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
      }

      img {
        width: 100%;
      }

      .info-card-content-container {
        margin: 1.5rem;
        letter-spacing: 0.02rem;
        line-height: 3rem;

        .mark-date-content {
          @include flex-center-start;
          @include span("desktop");

          .mark {
            color: $primary-color;
            @include bold;
          }

          div,
          h3 {
            margin: 0rem 0.5rem;
            @include bold;
          }
        }

        .title-card-content {
          @include h3("desktop");
          margin: 1.5rem 0rem;

          h3 {
            @include bold;
          }
        }

        .text-card-content {
          @include h4("desktop");
          /* height: 100%; */
        }
      }
    }
  }
  .btn--medium {
    margin-top: 3rem;
  }
}

@include tablet-media-query {
  #content-section {
    @include flex-column-center;
    background-color: $white-3;

    .title-content {
      @include h1("tablet");
      margin-top: 3rem;
      font-family: "ElectronicArtsDisplay-Bold";
    }

    .tab-bar-content {
      @include flex-column-center;
      margin-top: 3rem;
      padding: 0;
      height: auto;

      .second-section {
        @include flex-center-center;
      }
    }

    .card-content-container {
      @include flex-center-center;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      padding: 0;
      margin: 0;

      .card-content {
        background-color: $white-1;
        @include flex-column-start;
        width: 18.3vw;
        height: 53.8vh;
        margin: 0rem 1.25rem 2.8rem 1.25rem;
        box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        width: 35rem;
        height: 42rem;

        &:hover {
          transform: translate(0, -10px);
          box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
        }

        img {
          width: 100%;
        }

        .info-card-content-container {
          margin: 1.5rem;
          letter-spacing: 0.02rem;
          line-height: 3rem;

          .mark-date-content {
            @include flex-center-start;
            @include span("desktop");
            font-family: "ElectronicArtsDisplay-Bold";

            .mark {
              color: $primary-color;
            }

            div,
            h2 {
              margin: 0rem 0.5rem;
            }
          }

          .title-card-content {
            @include h3("tablet");
            margin: 0.6rem 0rem;
            font-family: "ElectronicArtsDisplay-Bold";
          }

          .text-card-content {
            font-family: "ElectronicArtsDisplay-Regular";
            width: 32rem;
            height: 100%;

            h4 {
              @include h4("tablet");
              display: -webkit-box;
              max-width: 100%;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .pride {
              width: 29rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

@include smartphone-media-query {
  #content-section {
    @include flex-column-center;
    background-color: $white-3;

    br {
      content: "";
      width: 100%;
      border-bottom: 2px solid $grey-3;
      margin-bottom: 3rem;
    }

    .tab-bar-content {
      @include flex-column-center;
      margin-top: 3rem;
      padding: 0;
      height: auto;

      .second-section {
        @include flex-center-center;
      }

      button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 1.6rem;
        margin: 0.3rem 0rem;
        border-bottom: 1px solid $white-3;

        &:hover {
          background-color: transparent;
        }
      }

      button.active {
        background-color: #ccc;
        border-bottom: 1px solid $primary-color;
      }
    }

    .tabcontent {
      display: none;
      margin: 3rem;
    }

    .title-content {
      @include h1("smartphone");
      margin-top: 3rem;
      font-family: "ElectronicArtsDisplay-Bold";
    }

    .card-content-container {
      @include flex-center-center;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      padding: 0;
      margin: 0;

      .card-content {
        background-color: $white-1;
        @include flex-column-start;
        width: 18.3vw;
        height: 53.8vh;
        margin: 0rem 1.25rem 2.8rem 1.25rem;
        box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        width: 32rem;
        height: 20rem;
        padding: 1rem;
        text-align: center;

        &:hover {
          transform: translate(0, -10px);
          box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
          -webkit-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
        }

        img {
          display: none;
        }

        .info-card-content-container {
          @include flex-column-center;
          margin: 1.5rem;
          letter-spacing: 0.02rem;
          line-height: 3rem;

          .mark-date-content {
            @include flex-column-center;
            @include span("smartphone");
            font-family: "ElectronicArtsDisplay-Bold";

            .mark {
              color: $primary-color;
            }

            div,
            h2 {
              margin: 0rem 0.5rem;
            }
          }

          .title-card-content {
            @include h3("smartphone");
            font-size: 1.8rem;
            font-family: "ElectronicArtsDisplay-Bold";
            font-size: bold;
          }

          .text-card-content {
            display: none;
          }
        }
      }
    }
    .btn--medium {
      width: 32rem;
    }
  }
}

// FINE LUDOVICO - CONTENT
