/* Inizio parte Tiziano */

.hero-img {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  box-sizing: border-box;
  background-size: contain;



  .hero-img-one {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;


  }
}

.apex-hero {
  @include flex-column-center;
  position: absolute;
  width: 100%;
  height: 20%;
  left: 20%;
  top: 20%;
  align-items: flex-start
}


p {
  @include h3("desktop");
  color: $white-1;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 1.8rem;

}

.bottom-img {
  width: 100%;
  position: relative;
  bottom: 17%;
  right: 25%;



  p {
    @include h4("desktop");
    top: 6%;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 45%;
  }

  Button {
    position: absolute;
    right: -5%;
    top: 5%
  }
}

@include smartphone-media-query {
  .hero-img {
    @include flex-center-center;
    height: 75vh;
  }

  .hero-img-one {
    transform: scale(1);
    filter: blur(18px);
  }

  .apex-hero {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

  p {
    @include h3("smartphone");
    color: $white-1;
  }

  .default {
    width: 84%;
  }
}

@include tablet-media-query {
  .hero-img {
    height: 40vh;
    width: 100vw;
  }

  .hero-img-one {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -15rem;
    transform: scale(1.03);
  }

  .apex-hero {
    width: 35rem;
    height: 45rem;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

/* Fine parte Tziano */