@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ElectronicArtsDisplay-Regular";
}

html {
  font-size: 10px;
  /* overflow-x: hidden; */
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

/* VARIABLES */
/* COLORS */
/* TYPOGRAPHY */ /* MIXINS */
/* FLEX-DIRECTION ROW */
/* FLEX-DIRECTION COLUMN */
/* MEDIA QUERIES */
/* HEADING 1 */
/* HEADING 2 */
/* HEADING 3 */
/* HEADING 4 */
/* SPAN */
/* LINK */
/* FONT FAMILY */
/* FONT AND ASSETS */
@font-face {
  font-family: "ElectronicArtsDisplay-Regular";
  src: url("../font/ElectronicArtsDisplay-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ElectronicArtsDisplay-Bold";
  src: url("../font/ElectronicArtsDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
.btn, .btn--outline-white, .btn--outline-black, .btn--primary {
  padding: 1.6rem 2.4rem;
  font-size: 1.8rem;
  border-radius: 3px;
  transition: all 0.1s linear;
  cursor: pointer;
}
.btn:hover, .btn--outline-white:hover, .btn--outline-black:hover, .btn--primary:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}

.btn--primary {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0);
}

.btn--outline-black {
  border: 2px solid #000000;
  background-color: transparent;
}

.btn--outline-white {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.btn--medium {
  padding: 1.6rem 2.4rem;
}

.btn--large {
  font-size: 1.6rem;
  width: 100% !important;
}

/* PARTIALS */
/* Inizio parte Tiziano */
.hero {
  /*  border: 2px solid red; */
}
.hero .hero-img {
  position: relative;
  text-align: center;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  box-sizing: border-box;
  background-size: contain;
  /* .hero-img-one {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  } */
}
.hero .apex-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: auto;
  height: auto;
  left: 20%;
  top: 20%;
  align-items: flex-start;
}
.hero .apex-hero p {
  font-size: 2.4rem;
  line-height: 1.15;
  letter-spacing: normal;
  color: "$black-2";
  color: #ffffff;
  padding: 1rem 0rem;
  margin-bottom: 15px;
  text-align: left;
  font-size: 1.8rem;
}
.hero .bottom-img {
  width: 100%;
  position: relative;
  bottom: 17%;
  right: 25%;
}
.hero .bottom-img p {
  font-size: 1.8rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: 550;
  color: "$black-2";
  top: 6%;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 45%;
}
.hero .bottom-img .btn--outline-white {
  position: absolute;
  right: -5%;
  top: 5%;
}

@media (max-width: 767px) {
  .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  .hero-img-one {
    transform: scale(1);
    filter: blur(18px);
  }
  .apex-hero {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  p {
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: normal;
    color: "$black-2";
    color: #ffffff;
  }
  .default {
    width: 84%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-img {
    height: 40vh;
    width: 100vw;
  }
  .hero-img-one {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -15rem;
    transform: scale(1.03);
  }
  .apex-hero {
    width: 35rem;
    height: 45rem;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%) scale(0.9);
  }
}
/* Fine parte Tziano */
/* INIZIO GABBO */
#card-section {
  width: auto;
  height: auto;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#card-section .title {
  font-size: 4.4rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: bolder;
  color: "$black-2";
  margin: 6rem 0rem 3rem 0rem;
  font-family: "ElectronicArtsDisplay-Bold";
}
#card-section .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#card-section .cards .first-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-section .cards .first-line .card {
  width: 35rem;
  height: 35rem;
  margin: 0rem 1.4rem 1.4rem 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-section .cards .first-line .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#card-section .cards .first-line .card .filter {
  width: 35rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  display: none;
  z-index: 0;
  transition: 0.3s linear;
}
#card-section .cards .first-line .card .cover {
  width: auto;
  height: auto;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(0.3);
}
#card-section .cards .first-line .card .apex {
  transition: 0.3s linear;
}
#card-section .cards .first-line .card .fifa {
  transition: 0.3s linear;
}
#card-section .cards .first-line .card .battle {
  transition: 0.3s linear;
}
#card-section .cards .first-line .card h4 {
  font-size: 1.8rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: 550;
  color: "$black-2";
  display: none;
  position: absolute;
  color: #ffffff;
}
#card-section .cards .first-line .card:hover img {
  z-index: 0;
}
#card-section .cards .first-line .card:hover .filter {
  display: flex;
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  z-index: 1;
  opacity: 0.8;
  transition: 0.3s linear;
}
#card-section .cards .first-line .card:hover .cover {
  z-index: 2;
}
#card-section .cards .first-line .card:hover .apex {
  transition: 0.3s linear;
  transform: translateY(-7.8rem) scale(0.3);
}
#card-section .cards .first-line .card:hover .fifa {
  transition: 0.3s linear;
  transform: translateY(-8.8rem) scale(0.3);
}
#card-section .cards .first-line .card:hover .battle {
  transition: 0.3s linear;
  transform: translateY(-7rem) scale(0.3);
}
#card-section .cards .first-line .card:hover h4 {
  z-index: 2;
  display: flex;
  cursor: pointer;
}
#card-section .cards .second-line {
  margin: 0rem 0rem 3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-section .cards .second-line .card {
  width: 35rem;
  height: 35rem;
  margin: 1.4rem 1.4rem 0rem 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-section .cards .second-line .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
#card-section .cards .second-line .card .filter {
  width: 35rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  display: none;
  z-index: 0;
  transition: 0.3s linear;
}
#card-section .cards .second-line .card .cover {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(0.3);
}
#card-section .cards .second-line .card .sims {
  transform: scale(0.15);
  transition: 0.3s linear;
}
#card-section .cards .second-line .card .car {
  transform: scale(1);
  transition: 0.3s linear;
}
#card-section .cards .second-line .card .two {
  transform: scale(0.25);
  transition: 0.3s linear;
}
#card-section .cards .second-line .card h4 {
  font-size: 1.8rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: 550;
  color: "$black-2";
  display: none;
  position: absolute;
  color: #ffffff;
  font-weight: 550;
}
#card-section .cards .second-line .card:hover img {
  z-index: 0;
}
#card-section .cards .second-line .card:hover .filter {
  display: flex;
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
  z-index: 1;
  opacity: 0.8;
  transition: 0.3s linear;
}
#card-section .cards .second-line .card:hover .cover {
  z-index: 2;
}
#card-section .cards .second-line .card:hover .car {
  transform: translateY(-7.8rem);
  transition: 0.3s linear;
}
#card-section .cards .second-line .card:hover .two {
  transform: translateY(-8.4rem) scale(0.25);
  transition: 0.3s linear;
}
#card-section .cards .second-line .card:hover .sims {
  transform: translateY(-7.6rem) scale(0.15);
  transition: 0.3s linear;
}
#card-section .cards .second-line .card:hover h4 {
  z-index: 2;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #card-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #card-section .title {
    font-size: 3.2rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: 600;
    color: "$black-2";
    font-weight: bold;
  }
  #card-section .cards .sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #card-section .cards .sub-container .first-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #card-section .cards .sub-container .first-line .card {
    width: 35rem;
    height: 35rem;
    margin: 1.2rem;
  }
  #card-section .cards .sub-container .first-line .card .filter {
    width: 35rem;
    height: 35rem;
  }
  #card-section .cards .sub-container .second-line {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #card-section .cards .sub-container .second-line .card {
    width: 35rem;
    height: 35rem;
    margin: 1.2rem;
  }
  #card-section .cards .sub-container .second-line .card .filter {
    width: 35rem;
    height: 35rem;
  }
  #card-section .btn--medium {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  #card-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #card-section .title {
    font-size: 3.2rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: 600;
    color: "$black-2";
    font-weight: bold;
    margin-top: 4rem;
  }
  #card-section .cards .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #card-section .cards .sub-container .first-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #card-section .cards .sub-container .first-line .card {
    width: 33.5rem;
    height: 33.5rem;
    margin: 1.2rem;
    margin-bottom: 0.5rem;
  }
  #card-section .cards .sub-container .first-line .card:first-child {
    margin-top: 0;
  }
  #card-section .cards .sub-container .first-line .card .filter {
    width: 33.5rem;
    height: 33.5rem;
  }
  #card-section .cards .sub-container .second-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #card-section .cards .sub-container .second-line .card {
    width: 33.5rem;
    height: 33.5rem;
    margin: 1.2rem;
    margin-bottom: 0.5rem;
  }
  #card-section .cards .sub-container .second-line .card .filter {
    width: 33.5rem;
    height: 33.5rem;
  }
  #card-section .buttonCards {
    width: 100% !important;
  }
  .btn--medium {
    width: 33.5rem;
    font-size: 1.6rem;
  }
}
/* FINE GABBO */
#content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}
#content-section br {
  content: "";
  width: 100%;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 3rem;
}
#content-section .tab-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 3rem;
}
#content-section .tab-bar-content button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
#content-section .tab-bar-content button:hover {
  background-color: #ddd;
}
#content-section .tab-bar-content button.active {
  background-color: #ccc;
  border-bottom: 2px solid #ff4747;
}
#content-section .tabcontent {
  display: none;
  margin: 3rem;
}
#content-section .title-content {
  font-size: 4.4rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: bolder;
  color: "$black-2";
  margin-top: 3rem;
  font-family: "ElectronicArtsDisplay-Bold";
  margin-top: 7rem;
}
#content-section .card-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  flex-wrap: wrap;
  position: relative;
}
#content-section .card-content-container .card-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 18.3vw;
  height: 53.8vh;
  margin: 0rem 0.5rem 1.6rem;
  box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
#content-section .card-content-container .card-content:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
}
#content-section .card-content-container .card-content img {
  width: 100%;
}
#content-section .card-content-container .card-content .info-card-content-container {
  margin: 1.5rem;
  letter-spacing: 0.02rem;
  line-height: 3rem;
}
#content-section .card-content-container .card-content .info-card-content-container .mark-date-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
}
#content-section .card-content-container .card-content .info-card-content-container .mark-date-content .mark {
  color: #ff4747;
  font-family: "ElectronicArtsDisplay-Bold";
}
#content-section .card-content-container .card-content .info-card-content-container .mark-date-content div,
#content-section .card-content-container .card-content .info-card-content-container .mark-date-content h3 {
  margin: 0rem 0.5rem;
  font-family: "ElectronicArtsDisplay-Bold";
}
#content-section .card-content-container .card-content .info-card-content-container .title-card-content {
  font-size: 2.4rem;
  line-height: 1.15;
  letter-spacing: normal;
  color: "$black-2";
  margin: 1.5rem 0rem;
}
#content-section .card-content-container .card-content .info-card-content-container .title-card-content h3 {
  font-family: "ElectronicArtsDisplay-Bold";
}
#content-section .card-content-container .card-content .info-card-content-container .text-card-content {
  font-size: 1.8rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: 550;
  color: "$black-2";
  /* height: 100%; */
}
#content-section .btn--medium {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
  }
  #content-section .title-content {
    font-size: 3.2rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: 600;
    color: "$black-2";
    margin-top: 3rem;
    font-family: "ElectronicArtsDisplay-Bold";
  }
  #content-section .tab-bar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 0;
    height: auto;
  }
  #content-section .tab-bar-content .second-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #content-section .card-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
  }
  #content-section .card-content-container .card-content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18.3vw;
    height: 53.8vh;
    margin: 0rem 1.25rem 2.8rem 1.25rem;
    box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 35rem;
    height: 42rem;
  }
  #content-section .card-content-container .card-content:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
  }
  #content-section .card-content-container .card-content img {
    width: 100%;
  }
  #content-section .card-content-container .card-content .info-card-content-container {
    margin: 1.5rem;
    letter-spacing: 0.02rem;
    line-height: 3rem;
  }
  #content-section .card-content-container .card-content .info-card-content-container .mark-date-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    font-family: "ElectronicArtsDisplay-Bold";
  }
  #content-section .card-content-container .card-content .info-card-content-container .mark-date-content .mark {
    color: #ff4747;
  }
  #content-section .card-content-container .card-content .info-card-content-container .mark-date-content div,
#content-section .card-content-container .card-content .info-card-content-container .mark-date-content h2 {
    margin: 0rem 0.5rem;
  }
  #content-section .card-content-container .card-content .info-card-content-container .title-card-content {
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: normal;
    color: "$black-2";
    margin: 0.6rem 0rem;
    font-family: "ElectronicArtsDisplay-Bold";
  }
  #content-section .card-content-container .card-content .info-card-content-container .text-card-content {
    font-family: "ElectronicArtsDisplay-Regular";
    width: 32rem;
    height: 100%;
  }
  #content-section .card-content-container .card-content .info-card-content-container .text-card-content h4 {
    font-size: 1.6rem;
    line-height: 1.65;
    letter-spacing: normal;
    font-weight: 550;
    color: "$black-2";
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  #content-section .card-content-container .card-content .info-card-content-container .text-card-content .pride {
    width: 29rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (max-width: 767px) {
  #content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
  }
  #content-section br {
    content: "";
    width: 100%;
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 3rem;
  }
  #content-section .tab-bar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 0;
    height: auto;
  }
  #content-section .tab-bar-content .second-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #content-section .tab-bar-content button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.6rem;
    margin: 0.3rem 0rem;
    border-bottom: 1px solid #f3f3f3;
  }
  #content-section .tab-bar-content button:hover {
    background-color: transparent;
  }
  #content-section .tab-bar-content button.active {
    background-color: #ccc;
    border-bottom: 1px solid #ff4747;
  }
  #content-section .tabcontent {
    display: none;
    margin: 3rem;
  }
  #content-section .title-content {
    font-size: 3.2rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: 600;
    color: "$black-2";
    margin-top: 3rem;
    font-family: "ElectronicArtsDisplay-Bold";
  }
  #content-section .card-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    margin: 0;
  }
  #content-section .card-content-container .card-content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18.3vw;
    height: 53.8vh;
    margin: 0rem 1.25rem 2.8rem 1.25rem;
    box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 23px 13px -4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 32rem;
    height: 20rem;
    padding: 1rem;
    text-align: center;
  }
  #content-section .card-content-container .card-content:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 23px 13px 4px rgba(0, 0, 0, 0.4);
  }
  #content-section .card-content-container .card-content img {
    display: none;
  }
  #content-section .card-content-container .card-content .info-card-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    letter-spacing: 0.02rem;
    line-height: 3rem;
  }
  #content-section .card-content-container .card-content .info-card-content-container .mark-date-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    font-family: "ElectronicArtsDisplay-Bold";
  }
  #content-section .card-content-container .card-content .info-card-content-container .mark-date-content .mark {
    color: #ff4747;
  }
  #content-section .card-content-container .card-content .info-card-content-container .mark-date-content div,
#content-section .card-content-container .card-content .info-card-content-container .mark-date-content h2 {
    margin: 0rem 0.5rem;
  }
  #content-section .card-content-container .card-content .info-card-content-container .title-card-content {
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: normal;
    color: "$black-2";
    font-size: 1.8rem;
    font-family: "ElectronicArtsDisplay-Bold";
    font-size: bold;
  }
  #content-section .card-content-container .card-content .info-card-content-container .text-card-content {
    display: none;
  }
  #content-section .btn--medium {
    width: 32rem;
  }
}
.footer {
  width: 100%;
  height: 100vh;
}
.footer #banner-footer {
  width: 100%;
  height: auto;
  position: relative;
}
.footer #banner-footer .banner {
  width: 100%;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer #banner-footer #iscrizione-footer {
  width: 48rem;
  height: 30rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
  top: 20%;
  left: 21%;
}
.footer #banner-footer #iscrizione-footer .description {
  font-size: 1.8rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: 550;
  color: "$black-2";
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.footer #parent-control-footer {
  width: 100%;
  height: 11.1rem;
  position: relative;
  background-color: #6fb0d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer #parent-control-footer .parent-description {
  font-size: 2.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: 600;
  color: "$black-2";
  color: #161616;
  margin-left: 21%;
  font-family: "ElectronicArtsDisplay-Bold";
  width: 50rem;
}
.footer #parent-control-footer .btn--medium {
  position: absolute;
  right: 20%;
  top: 25%;
}
.footer #sub-footer-1 {
  width: 100%;
  height: 22.2rem;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer #sub-footer-1 #sub-footer-link {
  margin-left: 21%;
}
.footer #sub-footer-1 #sub-footer-link a {
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  text-decoration: none;
  margin-right: 4rem;
  line-height: 3;
  color: #161616;
}
.footer #sub-footer-1 #sub-footer-link a:hover {
  color: #ff4747;
}
.footer #sub-footer-1 #sub-footer-social {
  margin-right: 21%;
  text-align: end;
}
.footer #sub-footer-1 #sub-footer-social h3 {
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  color: #000000;
  font-weight: bold;
}
.footer #sub-footer-1 #sub-footer-social i {
  transform: scale(2.2);
  margin: 2rem 0rem 0rem 4.5rem;
  color: #282828;
  transition: 0.3s;
}
.footer #sub-footer-1 #sub-footer-social i:hover {
  transform: scale(3);
  transition: 0.3s;
}
.footer #sub-footer-2 {
  width: 100%;
  height: 34.5rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.footer #sub-footer-2 #sub-footer-logo {
  margin-left: 21%;
}
.footer #sub-footer-2 #sub-footer-logo .sub-footer-circle {
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  text-align: start;
  position: absolute;
  top: 2.5rem;
}
.footer #sub-footer-2 #sub-footer-part2 {
  width: 28%;
  height: 90%;
  margin: 3rem 0rem 3rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.footer #sub-footer-2 #sub-footer-part2 #sub-footer-accessibilità {
  height: 30%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer #sub-footer-2 #sub-footer-part2 #sub-footer-accessibilità .sup-span {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  font-size: 1.8rem;
  margin: 0rem 5rem 3rem 0rem;
  color: #161616;
}
.footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy {
  height: 70%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy .sub-span {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  margin-right: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #161616;
}
.footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy .yt {
  margin-right: 2rem;
}
.footer #sub-footer-2 #sub-footer-select {
  width: 28%;
  height: 90%;
  margin: 3rem 0rem 3rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: start;
  padding-top: 1rem;
}
.footer #sub-footer-2 #sub-footer-select .first-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  border: 2px solid #aaa;
  border-radius: 2px;
  width: 20rem;
  height: 6rem;
}
.footer #sub-footer-2 #sub-footer-select .first-select .sup-text {
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  margin: 1rem 2rem 0.5rem 2rem;
  opacity: 0.7;
}
.footer #sub-footer-2 #sub-footer-select .first-select .option-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer #sub-footer-2 #sub-footer-select .first-select .option-select .sub-text {
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  margin: 0rem 2rem;
}
.footer #sub-footer-2 #sub-footer-select .first-select .option-select .fa-angle-down {
  font-size: 1.6rem;
  margin-right: 2rem;
}
.footer #sub-footer-2 #sub-footer-select .first-select:hover {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}
.footer #sub-footer-2 #sub-footer-select .first-select:hover .fa-angle-down {
  transform: rotate(180deg);
}
.footer #sub-footer-2 #sub-footer-select .second-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  border: 2px solid #aaa;
  border-radius: 2px;
  width: 20rem;
  height: 6rem;
}
.footer #sub-footer-2 #sub-footer-select .second-select .sup-text {
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  margin: 1rem 2rem 0.5rem 2rem;
  opacity: 0.7;
}
.footer #sub-footer-2 #sub-footer-select .second-select .option-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer #sub-footer-2 #sub-footer-select .second-select .option-select .sub-text {
  font-size: 1.6rem;
  line-height: 1.15;
  letter-spacing: normal;
  font-weight: lighter;
  color: "$black-2";
  margin: 0rem 2rem;
}
.footer #sub-footer-2 #sub-footer-select .second-select .option-select .fa-angle-down {
  font-size: 1.6rem;
  margin-right: 2rem;
}
.footer #sub-footer-2 #sub-footer-select .second-select:hover {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}
.footer #sub-footer-2 #sub-footer-select .second-select:hover .fa-angle-down {
  transform: rotate(180deg);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer #banner-footer {
    height: 40rem;
  }
  .footer #banner-footer .banner {
    height: 40rem;
    background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop2x1.1023w.jpg");
  }
  .footer #banner-footer #iscrizione-footer {
    width: 36rem;
    height: 30rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
    top: 15%;
    left: 6%;
  }
  .footer #banner-footer #iscrizione-footer .description {
    font-size: 1.6rem;
    line-height: 1.65;
    letter-spacing: normal;
    font-weight: 550;
    color: "$black-2";
    color: #ffffff;
    line-height: 1.5;
  }
  .footer #parent-control-footer {
    width: 100%;
    height: 18rem;
    background-color: #6fb0d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .footer #parent-control-footer .parent-description {
    font-size: 2.4rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: 600;
    color: "$black-2";
    color: #161616;
    font-family: "ElectronicArtsDisplay-Bold";
    margin: 0;
    width: 100%;
    position: absolute;
    top: 20%;
  }
  .footer #parent-control-footer .btn--medium {
    top: 55%;
    right: 35%;
    transform: translate(-25%, -25%);
  }
  .footer #sub-footer-1 {
    width: 100%;
    height: 28rem;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: start;
    justify-content: start;
    padding-top: 3rem;
  }
  .footer #sub-footer-1 #sub-footer-link {
    margin-left: 5rem;
    width: 74rem;
  }
  .footer #sub-footer-1 #sub-footer-link a {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    text-decoration: none;
    margin-right: 4rem;
    line-height: 2;
  }
  .footer #sub-footer-1 #sub-footer-link a:hover {
    color: #ff4747;
  }
  .footer #sub-footer-1 #sub-footer-social {
    margin: 0;
    margin-left: 5rem;
    margin-top: 3rem;
    text-align: start;
  }
  .footer #sub-footer-1 #sub-footer-social h3 {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    color: #000000;
    font-weight: bold;
  }
  .footer #sub-footer-1 #sub-footer-social i {
    transform: scale(2.2);
    margin: 2rem 4.5rem 0rem 0rem;
    color: #282828;
    transition: 0.3s;
  }
  .footer #sub-footer-1 #sub-footer-social i:hover {
    transform: scale(3);
    transition: 0.3s;
  }
  .footer #sub-footer-2 {
    width: 100%;
    height: 40rem;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .footer #sub-footer-2 #sub-footer-logo {
    margin-left: 0;
  }
  .footer #sub-footer-2 #sub-footer-logo .sub-footer-circle {
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    text-align: start;
    position: absolute;
    top: 2.5rem;
    left: 5rem;
  }
  .footer #sub-footer-2 #sub-footer-part2 {
    width: 100%;
    height: 100%;
    margin-left: 10rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-accessibilità {
    height: 33.3%;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-accessibilità .sup-span {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    font-size: 1.8rem;
    margin: 0rem 5rem 3rem 0rem;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy {
    width: 90%;
    height: 33.3%;
    margin-top: 1.5rem;
    margin-left: -7rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy .sub-span {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin-right: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.6;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy .yt {
    margin-right: 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select {
    width: 90%;
    height: auto;
    margin: 3rem 0rem 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: start;
    padding-top: 1rem;
    position: absolute;
    top: 16rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    border: 2px solid #aaa;
    border-radius: 2px;
    width: 35rem;
    height: 6.5rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .sup-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 1rem 2rem 0.5rem 2rem;
    opacity: 0.7;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .option-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .option-select .sub-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 0rem 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .option-select .fa-angle-down {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select:hover {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  }
  .footer #sub-footer-2 #sub-footer-select .first-select:hover .fa-angle-down {
    transform: rotate(180deg);
  }
  .footer #sub-footer-2 #sub-footer-select .second-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    border: 2px solid #aaa;
    border-radius: 2px;
    width: 35rem;
    height: 6.5rem;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .sup-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 1rem 2rem 0.5rem 2rem;
    opacity: 0.7;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .option-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .option-select .sub-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 0rem 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .option-select .fa-angle-down {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select:hover {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  }
  .footer #sub-footer-2 #sub-footer-select .second-select:hover .fa-angle-down {
    transform: rotate(180deg);
  }
}
@media (max-width: 767px) {
  .footer #banner-footer {
    height: 90vh;
  }
  .footer #banner-footer .banner {
    height: 90vh;
    background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop3x5.767w.jpg");
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer #banner-footer #iscrizione-footer {
    width: 33rem;
    height: 30rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
    top: 25%;
    left: 8%;
  }
  .footer #banner-footer #iscrizione-footer .description {
    font-size: 1.6rem;
    line-height: 1.65;
    letter-spacing: normal;
    font-weight: 550;
    color: "$black-2";
    color: #ffffff;
    line-height: 1.5;
  }
  .footer #banner-footer #iscrizione-footer .btn--medium {
    margin-top: 2.2rem;
    width: 33rem;
  }
  .footer #parent-control-footer {
    width: 100%;
    height: 20rem;
    background-color: #6fb0d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .footer #parent-control-footer .parent-description {
    font-size: 2.4rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: 600;
    color: "$black-2";
    color: #161616;
    font-family: "ElectronicArtsDisplay-Bold";
    margin: 0;
    margin-bottom: 1rem;
    width: 30rem;
    position: absolute;
    top: 10%;
  }
  .footer #parent-control-footer .btn--medium {
    position: absolute;
    top: 60%;
    left: 7%;
  }
  .footer #sub-footer-1 {
    width: 100%;
    height: 35rem;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: start;
    justify-content: start;
    padding-top: 3rem;
  }
  .footer #sub-footer-1 #sub-footer-link {
    margin-left: 2rem;
    width: 35rem;
  }
  .footer #sub-footer-1 #sub-footer-link a {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    text-decoration: none;
    margin-right: 2rem;
    line-height: 2;
  }
  .footer #sub-footer-1 #sub-footer-link a:hover {
    color: #ff4747;
  }
  .footer #sub-footer-1 #sub-footer-social {
    margin: 0;
    margin-left: 2.3rem;
    margin-top: 3rem;
    text-align: start;
  }
  .footer #sub-footer-1 #sub-footer-social h3 {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    color: #000000;
    font-weight: bold;
  }
  .footer #sub-footer-1 #sub-footer-social i {
    transform: scale(2.2);
    margin: 2rem 4.5rem 0rem 0rem;
    color: #282828;
    transition: 0.3s;
  }
  .footer #sub-footer-1 #sub-footer-social i:hover {
    transform: scale(3);
    transition: 0.3s;
  }
  .footer #sub-footer-2 {
    width: 100%;
    height: 60rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .footer #sub-footer-2 #sub-footer-logo {
    margin-left: 0;
  }
  .footer #sub-footer-2 #sub-footer-logo .sub-footer-circle {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    text-align: start;
    position: absolute;
    top: 3.5rem;
    left: 2rem;
  }
  .footer #sub-footer-2 #sub-footer-part2 {
    width: 100%;
    height: 100%;
    margin-left: 4rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-accessibilità {
    height: 18%;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-accessibilità .sup-span {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 0rem 5rem 0rem 0rem;
    line-height: 1;
    margin-bottom: 0;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy {
    width: 100%;
    height: 33.3%;
    margin: 0;
    margin-left: 0;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy .sub-span {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin-right: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2;
  }
  .footer #sub-footer-2 #sub-footer-part2 #sub-footer-privacy .yt {
    margin-right: 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select {
    width: 90%;
    height: auto;
    margin: 3rem 0rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: start;
    padding-top: 1rem;
    position: absolute;
    top: 18rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    border: 2px solid #aaa;
    border-radius: 2px;
    width: 35rem;
    height: 7rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .sup-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 1rem 2rem 0.5rem 2rem;
    opacity: 0.7;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .option-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .option-select .sub-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 0rem 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select .option-select .fa-angle-down {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .first-select:hover {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  }
  .footer #sub-footer-2 #sub-footer-select .first-select:hover .fa-angle-down {
    transform: rotate(180deg);
  }
  .footer #sub-footer-2 #sub-footer-select .second-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: start;
    border: 2px solid #aaa;
    border-radius: 2px;
    width: 35rem;
    height: 7rem;
    margin-top: 1rem;
    margin-left: -1rem;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .sup-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 1rem 2rem 0.5rem 2rem;
    opacity: 0.7;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .option-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .option-select .sub-text {
    font-size: 1.6rem;
    line-height: 1.15;
    letter-spacing: normal;
    font-weight: lighter;
    color: "$black-2";
    margin: 0rem 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select .option-select .fa-angle-down {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
  .footer #sub-footer-2 #sub-footer-select .second-select:hover {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  }
  .footer #sub-footer-2 #sub-footer-select .second-select:hover .fa-angle-down {
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=main.css.map */