@font-face {
    font-family: "ElectronicArtsDisplay-Regular";
    src: url("../font/ElectronicArtsDisplay-Regular.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ElectronicArtsDisplay-Bold";
    src: url("../font/ElectronicArtsDisplay-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  