/* COLORS */

$primary-color: #ff4747;

$black-1: #000000;
$black-2: #161616;

$grey-1: #252525;
$grey-2: #a3a3a3;
$grey-3: #eaeaea;

$white-1: #ffffff;
$white-2: #f1f1f1;
$white-3: #f3f3f3;

$black-op: rgba(22, 22, 22, 0.80);
$grey-op: rgba(0, 0, 0, 0.08);
$white-op: rgba(0, 0, 0, 0.00);

/* TYPOGRAPHY */

$h1-desktop: 4.4rem; 
$h1-tablet: 3.2rem;
$h1-smartphone: 3.2rem;

$h2-desktop: 2.6rem;
$h2-tablet: 2.4rem;
$h2-smartphone: 2.4rem;

$h3-desktop: 2.4rem;
$h3-tablet: 2rem;
$h3-smartphone: 2rem;

$h4-desktop: 1.8rem;
$h4-tablet: 1.6rem;
$h4-smartphone: 1.6rem;

$span-desktop: 1.6rem;
$span-tablet: 1.6rem;
$span-smartphone: 1.6rem;

$link-desktop: 1.6rem;
$link-tablet: 1.6rem;
$link-smartphone: 1.6rem;